@font-face {
    font-family: 'Michroma';
    src: url('../assets/fonts/Michroma-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../assets/fonts/MontserratAlternates-Light.ttf') format('truetype');
}