@include media-breakpoint-up(xs) {
  header,
  main {
    padding: var(--moo-size-xl) var(--moo-size-xl);
    padding-top: var(--moo-size-3xl);
    .moo-title {
      font-size: var(--moo-size-l);
    }
  }
  section {
    
  }

  .logo {
    flex: 1 1 auto;
    text-align: center;
    font-size: var(--moo-size-m);
  }
  .bamboo-main_deck {
    top: 40vh;
  }
  .bamboo-gallery {
    display: flex;
    justify-content: center;
  }
  .moo-btn-to-scrl {
    gap: var(--moo-size-m);
    border: 0;
  }
  .moo-overlay-image {
    border-radius: 2rem;
    overflow: hidden;
  .moo-overlay-image_content {
    display: none;
}
    img {
      width: 308px;
      height: 223px;
      object-fit: cover;
    }
  }
  .moo-title-section {
    font-size: var(--moo-size-xxl);
    gap: var(--moo-size-m);
    padding: var(--moo-size-m);
    align-items: center;
    text-align: center;

    .moo-text-yellow {
      display: none;
    }
  }
  .moo-photobooth-ppl-cont {
    gap: 15px;
    width: 350px;
    height: 450px;
    margin: 0;
    .moo-photobooth-ppl-cont_left {
      height: 450px;
      width: 250px;
    }
    .moo-photobooth-ppl-cont_right {
      height: 150px;
      width: 85px;
      gap: 15px;
    }
    .photo {
      width: 100%;
    }
  }
  .moo-photobooth-ppl-cont_center {
    height: 175px;
    width: 320px;
    gap: 15px;
    padding: 0;

    .photo {
      width: 32%;
    }
  }
  .moo-photobooth-ppl-cont_1pic_center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 320px;
    gap: 15px;
    padding: 0;

    .photo {
      width: 100%;
    }

  }
  .moo-photobooth-ppl-cont-4pic_center {
    height: 130px;
    width: 350px;
    gap: 15px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .photo {
      width: 21%;
    }
  }
  .moo-photobooth-ppl-cont-big_center {
    height: 230px;
    width: 350px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .photo {
      width: 47%;
    }
  }
  .moo-sub-section {
    font-size: var(--moo-size-m);
    display: flex;
    align-items: center;
    padding: var(--moo-size-m);
    padding-top: 0;
    padding-bottom: 0;
  }
  .moo-contacts {
    .moo-title-contact {
        justify-content: center;
    .moo-title-section {
      font-size: var(--moo-size-3xl);
      width: 350px;
      padding: 0;
    }
    }
  }
  .socials {
    width: 350px;
    padding: 0;
    flex-direction: column;
    // align-items: start;
    img {
      width: 40px;
    }
    p {
      font-size: var(--moo-size-sm);
      margin: 0;
    }
    a {
      padding: 0;
      height: 60px;
      justify-content: flex-start;
    }
  }
  .moo-sub-socials {
    font-size: var(--moo-size-sm);
  }
  .qr-code-tg {
    display: none;
  }
}
@include media-breakpoint-up(sm) {
    .logo {
        font-size: var(--moo-size-xl);
        text-align: center;
}
.gallery-title {
    margin: 0 var(--moo-size-l);
    p {
        font-size: var(--moo-size-3xl);
    }
}

}
@include media-breakpoint-up(md) {
    .main,
    header {
      padding: var(--moo-size-4xl) var(--moo-size-7xl);
      .moo-title.logo {
        font-size: var(--moo-size-xl);
      }
    }
    .logo {
    font-size: var(--moo-size-xl);
    text-align: left;
    }
    .bamboo-main_deck {
    top: 35vh;
    }
    .moo-btn-to-scrl {
    gap: var(--moo-size-m);
    border: 0;
    
    }
    .moo-overlay-image {
    border-radius: 2rem;
    overflow: hidden;
    .moo-overlay-image_content {
    display: none;
    }
    img {
      width: 258px;
      height: 173px;
      object-fit: cover;
    }
    }
    .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-3xl);
        }
    }
    .moo-title-section {
        font-size: var(--moo-size-4xl);
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-4xl);
        align-items: center;
        text-align: center;
      
        .moo-text-yellow {
          display: block;
        }
      }
      .moo-sub-section {
        font-size: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        padding: var(--moo-size-3xl);
        width: 800px;
      }
      .moo-photobooth-ppl-cont {
        gap: var(--moo-size-3xl);
        width: 760px;
        height: 970px;
        margin: 0;
        .moo-photobooth-ppl-cont_left {
          height: 500px;
          width: 550px;
        }
        .moo-photobooth-ppl-cont_right {
          height: 850px;
          width: 180px;
          gap: var(--moo-size-5xl);
        }
        .photo {
          width: 100%;
        }
      }
      .moo-photobooth-ppl-cont_1pic_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 810px;
        gap: 15px;
        padding: 0;
    
        .photo {
          width: 100%;
        }
    
      }
      .moo-photobooth-ppl-cont_center {
        height: 400px;
        width: 860px;
        gap: var(--moo-size-5xl);
        padding: var(--moo-size-4xl);
      
        .photo {
          width: 25%
        }
      }
      .moo-photobooth-ppl-cont-4pic_center {
        height: 300px;
        width: 880px;
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        justify-content: center;
      
        .photo {
          width: 20%;
        }
      }
      .moo-photobooth-ppl-cont-big_center {
        height: 510px;
        width: 860px;
        padding: var(--moo-size-4xl);
        gap: var(--moo-size-5xl);
        display: flex;
        align-items: center;
        justify-content: center;
        .photo {
          width: 45%;
        }
      }
      .moo-contacts {
        width: 800px;
        .moo-title-section {
          font-size: var(--moo-size-3xl);
          width: 400px;
          padding: 0;
        }
      }
      .socials {
        width: 500px;
        padding: 0;
        flex-direction: column;
        img {
          width: 40px;
        }
        p {
          font-size: var(--moo-size-l);
          margin: 0;
        }
        a {
          padding: 0;
          height: 60px;
          justify-content: flex-start;
          width: 400px;
        }
      }
      .moo-sub-socials {
        font-size: var(--moo-size-sm);
      }
      .qr-code-tg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
        width: 200px;
        }
      }
     

}
@include media-breakpoint-up(lg) {
    .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-3xl);
        }
    }

}

@include media-breakpoint-up(xl) {
    header,
    main {
    padding: var(--moo-size-xl) var(--moo-size-xl);
    padding-top: var(--moo-size-3xl);
    .moo-title {
      font-size: var(--moo-size-l);
    }
    }
    
    .logo {
    flex: 1 1 auto;
    text-align: left;
    font-size: var(--moo-size-m);
    }
    .moo-btn-to-scrl {
        gap: var(--moo-size-5xl);
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      .moo-overlay-image {
        border-radius: 0;
        overflow: visible;
    
        .moo-caption {
        font-size: var(--moo-size-m);
        }
        .moo-overlay-image_content {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
      
        img {
          width: 250px;
          height: 450px;
          object-fit: cover;
        }
      }
      .bamboo-gallery {
        display: flex;
        flex-direction: column;
      }
      .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-5xl);
        }
    }

      .moo-title-section {
        font-size: var(--moo-size-5xl);
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-4xl);
        align-items: center;
        text-align: center;
      
        .moo-text-yellow {
          display: block;
        }
      }
      .moo-sub-section {
        font-size: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        padding: var(--moo-size-3xl);
        width: 800px;
      }
      .moo-photobooth-ppl-cont {
        gap: var(--moo-size-3xl);
        width: 1080px;
        height: 1380px;
        margin: 0;
        .moo-photobooth-ppl-cont_left {
          height: 1350px;
          width: 750px;
        }
        .moo-photobooth-ppl-cont_right {
          height: auto;
          width: 300px;
          gap: var(--moo-size-5xl);
        }
        .photo {
          width: 100%;
        }
      }
      .moo-photobooth-ppl-cont_center {
        height: 550px;
        width: 1190px;
        gap: var(--moo-size-5xl);
        padding: var(--moo-size-4xl);
      
        .photo {
          width: 25%
        }
      }
      .moo-photobooth-ppl-cont-4pic_center {
        height: 400px;
        width: 1190px;
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        justify-content: center;
      
        .photo {
          width: 20%;
        }
      }
      .moo-photobooth-ppl-cont-big_center {
        height: 680px;
        width: 1190px;
        padding: var(--moo-size-4xl);
        gap: var(--moo-size-5xl);
        display: flex;
        align-items: center;
        justify-content: center;
        .photo {
          width: 45%;
        }
      }
      .socials {
        width: 900px;
        padding: 0;
        flex-direction: row;
        padding: var(--moo-size-xl);
        img {
          width: 70px;
        }
        p {
          font-size: var(--moo-size-m);
          margin: 0;
        }
        a {
          padding: 0;
          height: 113px;
          width: 290px;
          justify-content: center;
          align-items: center;
        }
      }
      .moo-sub-socials {
        font-size: var(--moo-size-m);
        padding: var(--moo-size-3xs) var(--moo-size-3xl);
      }
      .qr-code-tg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--moo-size-l);
        img {
            width: 300px;
        }
      }
      .moo-contacts {
        .moo-title-section {
          font-size: var(--moo-size-6xl);
          width: 900px;
          padding: 0;
          text-align: center;
        }
      }
 
}
@include media-breakpoint-up(xxl) {
    .main,
    header {
      padding: var(--moo-size-4xl) var(--moo-size-7xl);
      .moo-title.logo {
        font-size: var(--moo-size-xl);
      }
    }
    .bamboo-main_deck {
      top: 30vh;
    }
    .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-8xl);
        }
    }

    .moo-btn-to-scrl {
      gap: var(--moo-size-5xl);
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
    }
    .moo-overlay-image {
      border-radius: 0;
      overflow: visible;
    
      .moo-caption {
        font-size: var(--moo-size-xl);
      }
    
      .moo-overlay-image_content {
          display: flex;
          flex-direction: column;
          justify-content: end;
      }
    
      img {
        width: 400px;
        height: 600px;
        object-fit: cover;
      }
    }
    .bamboo-gallery {
      display: flex;
      flex-direction: column;
    }
    .moo-title-section {
      font-size: var(--moo-size-9xl);
      gap: var(--moo-size-3xl);
      padding: var(--moo-size-4xl);
      align-items: center;
      text-align: center;
    
      .moo-text-yellow {
        display: block;
      }
    }
    .moo-photobooth-ppl-cont {
      gap: var(--moo-size-5xl);
      width: 1800px;
      height: 2600px;
      margin: 0;
      .moo-photobooth-ppl-cont_left {
        height: 2650px;
        width: 1350px;
      }
      .moo-photobooth-ppl-cont_right {
        height: auto;
        width: 400px;
        gap: var(--moo-size-5xl);
      }
      .photo {
        width: 100%;
      }
    }
    .moo-photobooth-ppl-cont_1pic_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        width: auto;
        gap: 15px;
        padding: 0;
    
        .photo {
          width: 100%;
        }
    
      }
    .moo-photobooth-ppl-cont_center {
      height: auto;
      width: auto;
      gap: var(--moo-size-5xl);
      padding: var(--moo-size-4xl);
    
      .photo {
        width: 100%;
      }
    }
    .moo-photobooth-ppl-cont-4pic_center {
      height: auto;
      width: auto;
      gap: var(--moo-size-5xl);
      padding: var(--moo-size-4xl);
      display: flex;
      align-items: center;
      justify-content: center;
    
      .photo {
        width: 100%;
      }
    }
    .moo-photobooth-ppl-cont-big_center {
      height: auto;
      width: auto;
      padding: var(--moo-size-4xl);
      gap: var(--moo-size-5xl);
      display: flex;
      align-items: center;
      justify-content: center;
      .photo {
        width: 100%;
      }
    }
    .moo-sub-section {
      font-size: var(--moo-size-3xl);
      display: flex;
      align-items: center;
      padding: var(--moo-size-3xl);
      width: 1000px;
    }
    .moo-contacts {
      .moo-title-section {
        font-size: var(--moo-size-9xl);
        width: 1100px;
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-4xl);
        padding-top: 0;
      }
    }
    .socials {
      width: 1300px;
      padding: 0;
      flex-direction: row;
      padding: var(--moo-size-3xl);
      img {
        width: 113px;
      }
      p {
        font-size: var(--moo-size-l);
        margin: 0;
      }
      a {
        padding: 0;
        height: 113px;
        width: 400px;
        justify-content: flex-start;
      }
    }
    .moo-sub-socials {
      font-size: var(--moo-size-xl);
      padding: var(--moo-size-3xs) var(--moo-size-3xl);
    }
    .qr-code-tg {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--moo-size-l);
    }
    .logo {
    text-align: start;
    }
    .bamboo-main_deck {
    top: auto;
    }
}
