@include media-breakpoint-up(xs) {
  header,
  main {
    padding: var(--moo-size-xl) var(--moo-size-xl);
    padding-top: var(--moo-size-3xl);
    gap: var(--moo-size-xl);
    .moo-title {
      font-size: var(--moo-size-m);
    }
  }
  .logo {
    flex: 1 1 auto;
    text-align: center;
    font-size: var(--moo-size-m);
  }
  .bamboo-main_deck {
    top: 32vh;
    img {
      width: 33vw;
    }
  }
  .bamboo-hello {
    font-size: 38px;
  }
  .about-me {
    padding: 10px;
    align-items: center;
    img {
        width: 153.48px;
        height: 185px;
        margin: var(--moo-size-sm);
    }
    .img-ab-me {
        img {
            display: none;
        }
    }
}
.moo-about-me-title {
    display: none;
}
.moo-about-me-sub {
    font-size: var(--moo-size-l);
    padding: var(--moo-size-sm);
    justify-content: center;
    align-items: center;
    width: 350px;
    .moo-page {
        font-size: var(--moo-size-xl);
        justify-content: end;
    }
    p {
        margin: var(--moo-size-sm);
        text-align: center;
        
    }
}

.moo-title {
    .ab-me-span {
        font-size: var(--moo-size-4xl);
    }
}
.moo-shoot {
    display: none;
}
.moo-shoot-xs {
    font-size: var(--moo-size-m);
    margin: var(--moo-size-sm);
    .shooting {
    display: flex;
    height: 50px;
    padding-bottom: var(--moo-size-xl);
    font-family: "Montserrat", sans-serif;
    align-items: center;
    justify-content: center;
    span {
        padding: var(--moo-size-m);
        border-radius: 100px;
        background-color: var(--moo-clr-black);
    }
    span:hover {
        background-color: var(--moo-clr-orange);
      }
}
    
}
  .bamboo-gallery {
    display: flex;
    justify-content: center;
  }
  .moo-btn-to-scrl {
    gap: var(--moo-size-m);
    border: 0;
    padding: 0;
    margin-bottom: var(--moo-size-l);
  }
  .moo-overlay-image {
    border-radius: 2rem;
    overflow: hidden;
    .moo-caption {
        font-size: var(--moo-size-m);
        }
        .moo-overlay-image_content {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    img {
      width: 308px;
      height: 223px;
      object-fit: cover;
    }
  }
  .moo-title-section {
    font-size: var(--moo-size-xxl);
    gap: var(--moo-size-m);
    padding: var(--moo-size-m);
    align-items: center;
    text-align: center;

    .moo-text-yellow {
      display: none;
    }
  }
  .moo-photobooth-ppl-cont {
    gap: 15px;
    width: 350px;
    height: 450px;
    margin: 0;
    .moo-photobooth-ppl-cont_left {
      height: 450px;
      width: 250px;
    }
    .moo-photobooth-ppl-cont_right {
      height: 150px;
      width: 85px;
      gap: 15px;
    }
    .photo {
      width: 100%;
    }
  }
  .moo-photobooth-ppl-cont_center {
    height: 160px;
    width: 320px;
    gap: 15px;
    padding: 0;

    .photo {
      width: 32%;
    }
  }
  .moo-photobooth-ppl-cont-horizontal_center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 350px;
    gap: var(--moo-size-l);

  .photo {
    width: 30%;
  }
}
  .moo-photobooth-ppl-cont_1pic_center {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
    width: 340px;
    gap: 15px;
    padding: 0;

    .photo {
      width: 100%;
    }

  }
  .moo-photobooth-ppl-cont-4pic_center {
    height: 130px;
    width: 350px;
    gap: 15px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .photo {
      width: 21%;
    }
  }
  .moo-photobooth-ppl-cont-big_center {
    height: 230px;
    width: 350px;
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    .photo {
      width: 47%;
    }
  }
  .moo-sub-section {
    font-size: var(--moo-size-m);
    display: flex;
    align-items: center;
    padding: var(--moo-size-m);
    padding-top: 0;
    padding-bottom: 0;
  }
  .moo-contacts {
    .moo-title-contact {
        justify-content: center;
    .moo-title-section {
      font-size: var(--moo-size-3xl);
      width: 350px;
      padding: 0;
    }
    }
  }
  .socials {
    width: 350px;
    padding: 0;
    flex-direction: column;
    // align-items: start;
    img {
      width: 40px;
    }
    p {
      font-size: var(--moo-size-sm);
      margin: 0;
    }
    a {
      padding: 0;
      height: 60px;
      justify-content: flex-start;
    }
}
.moo-sub-socials {
    font-size: var(--moo-size-sm);
}
.qr-code-tg {
    display: none;
}
}
@include media-breakpoint-up(sm) {
    .logo {
        font-size: var(--moo-size-xl);
        text-align: center;
}
.gallery-title {
    margin: 0 var(--moo-size-l);
    p {
        font-size: var(--moo-size-3xl);
    }
}

}
@include media-breakpoint-up(md) {
    .main,
    header {
      padding: var(--moo-size-4xl) var(--moo-size-7xl);
      .moo-title.logo {
        font-size: var(--moo-size-l);
      }
    }
    .logo {
    font-size: var(--moo-size-l);
    text-align: center;
    }
    .bamboo-main_deck {
    top: 20vh;
    img {
      width: 20vw;;
    }
    }
    .bamboo-hello {
      margin-top: 100px;
      font-size: var(--moo-size-3xl);

    }
    .moo-btn-to-scrl {
    gap: var(--moo-size-m);
    border: 0;
    padding: var(--moo-size-3xl);
    
    }
    .moo-overlay-image {
    border-radius: 2rem;
    overflow: hidden;
    .moo-overlay-image_content {
    display: none;
    }
    img {
      width: 258px;
      height: 173px;
      object-fit: cover;
    }
    }
    .about-me {
        padding: 20px;
        img {
            width: 300px;
            height: 450px;
        }
        .img-ab-me {
          img {
              display: flex;
          }
      }
      }
    .moo-about-me-title {
        font-size: 35px;
        width: 700px;
        height: 490px;
        padding: var(--moo-size-xl);
        display: flex;
        white-space: nowrap;
    }
    .moo-about-me-sub {
        font-size: var(--moo-size-l);
        width: 230px;
        height: 500px;
        padding: var(--moo-size-xxl);
        p {
            text-align: left;
            
        }
    }
    .moo-shoot {
        font-size: var(--moo-size-m);
        height: 65px;
        padding-bottom: var(--moo-size-3xl);
        display: flex;
        .shooting {
            width: auto;
        span {
            padding: var(--moo-size-xxl);
        }
    }
    }
    .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-3xl);
        }
    }
    .moo-title-section {
        font-size: var(--moo-size-4xl);
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-4xl);
        align-items: center;
        text-align: center;
      
        .moo-text-yellow {
          display: block;
        }
      }
      .moo-sub-section {
        font-size: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        padding: var(--moo-size-3xl);
        width: 800px;
      }
      .moo-photobooth-ppl-cont {
        gap: var(--moo-size-3xl);
        width: 760px;
        height: 970px;
        margin: 0;
        .moo-photobooth-ppl-cont_left {
          height: 500px;
          width: 550px;
        }
        .moo-photobooth-ppl-cont_right {
          height: 850px;
          width: 180px;
          gap: var(--moo-size-5xl);
        }
        .photo {
          width: 100%;
        }
      }
      .moo-photobooth-ppl-cont_1pic_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 810px;
        gap: 15px;
        padding: 0;
    
        .photo {
          width: 100%;
        }
    
      }
      .moo-photobooth-ppl-cont_center {
        height: 350px;
        width: 860px;
        gap: var(--moo-size-5xl);
        padding: var(--moo-size-4xl);
      
        .photo {
          width: 25%
        }
      }
      .moo-photobooth-ppl-cont_1pic_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 350px;
        width: 700px;
        gap: 15px;
        padding: 0;
    
        .photo {
          width: 100%;
        }
    
      }
      .moo-photobooth-ppl-cont-horizontal_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 860px;
        gap: var(--moo-size-5xl);
        padding: var(--moo-size-4xl);
    
      .photo {
        width: 30%;
      }
    }
      .moo-photobooth-ppl-cont-4pic_center {
        height: 300px;
        width: 880px;
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        justify-content: center;
      
        .photo {
          width: 20%;
        }
      }
      .moo-photobooth-ppl-cont-big_center {
        height: 510px;
        width: 860px;
        padding: var(--moo-size-4xl);
        gap: var(--moo-size-5xl);
        display: flex;
        align-items: center;
        justify-content: center;
        .photo {
          width: 45%;
        }
      }
      .moo-contacts {
        width: 800px;
        .moo-title-section {
          font-size: var(--moo-size-3xl);
          width: 400px;
          padding: 0;
        }
      }
      .socials {
        width: 500px;
        padding: 0;
        flex-direction: column;
        img {
          width: 40px;
        }
        p {
          font-size: var(--moo-size-l);
          margin: 0;
        }
        a {
          padding: 0;
          height: 60px;
          justify-content: flex-start;
          width: 400px;
        }
      }
      .moo-sub-socials {
        font-size: var(--moo-size-sm);
      }
      .qr-code-tg {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        img {
        width: 200px;
        }
      }
     

}
@include media-breakpoint-up(lg) {
    .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-3xl);
        }
    }
    .about-me {
        padding: 20px;
        img {
            width: 300px;
            height: 490px;
        }
        .img-ab-me {
          img {
              display: flex;
          }
      }
      }
    .moo-about-me-title {
        font-size: 35px;
        width: 700px;
        height: 490px;
        padding: var(--moo-size-xl);
        display: flex;
    }
    .moo-about-me-sub {
        font-size: var(--moo-size-l);
        width: 350px;
        padding: var(--moo-size-xxl);
        .moo-page {
            font-size: var(--moo-size-3xl);
            justify-content: end;
        }
        p {
            text-align: left;
            
        }
    }
    .moo-shoot {
        font-size: var(--moo-size-l);
        height: 115px;
        padding-bottom: var(--moo-size-3xl);
        .shooting {
            width: auto;
        span {
            padding: var(--moo-size-xxl);
        }
    }
    }

}

@include media-breakpoint-up(xl) {
    header,
    main {
    padding: var(--moo-size-xl) var(--moo-size-xl);
    padding-top: var(--moo-size-3xl);
    .moo-title {
      font-size: var(--moo-size-l);
    }
    }
    
    .logo {
    flex: 1 1 auto;
    text-align: left;
    font-size: var(--moo-size-m);
    }
    .bamboo_deck {
      img {
        width: 20vw;
      }

    }
    .bamboo-hello {
      font-size: var(--moo-size-5xl);
    }
    .moo-btn-to-scrl {
        gap: var(--moo-size-5xl);
        border-top: 1px solid silver;
        border-bottom: 1px solid silver;
      }
      .moo-overlay-image {
        border-radius: 0;
        overflow: visible;
    
        .moo-caption {
        font-size: var(--moo-size-m);
        }
        .moo-overlay-image_content {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    
        img {
          width: 250px;
          height: 450px;
          object-fit: cover;
        }
      }
      .about-me {
        padding: 25px;
        display: flex;
        img {
            width: 350px;
            height: 540px;
        }
        .img-ab-me {
          img {
              display: flex;
          }
      }
      }
    .moo-about-me-title {
        font-size: 50px;
        width: 900px;
        height: 480px;
        padding: var(--moo-size-xxl);
    }
    .moo-about-me-sub {
        font-size: var(--moo-size-xxl);
        width: 550px;
        padding: var(--moo-size-xxl);
        .moo-page {
            font-size: var(--moo-size-3xl);
            justify-content: end;
        }
        p {
            text-align: left;
            
        }
    }
    .moo-shoot {
        font-size: var(--moo-size-xl);
        height: 115px;
        padding-bottom: var(--moo-size-3xl);
        .shooting {
            width: auto;
        span {
            padding: var(--moo-size-3xl);
        }
    }
    }
      .bamboo-gallery {
        display: flex;
        flex-direction: column;
      }
      .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-5xl);
        }
    }

      .moo-title-section {
        font-size: var(--moo-size-5xl);
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-4xl);
        align-items: center;
        text-align: center;
      
        .moo-text-yellow {
          display: block;
        }
      }
      .moo-sub-section {
        font-size: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        padding: var(--moo-size-3xl);
        width: 800px;
      }
      .moo-photobooth-ppl-cont {
        gap: var(--moo-size-3xl);
        width: 1080px;
        height: 1380px;
        margin: 0;
        .moo-photobooth-ppl-cont_left {
          height: 1350px;
          width: 70%;
        }
        .moo-photobooth-ppl-cont_right {
          height: auto;
          width: 30%;
          gap: var(--moo-size-5xl);
        }
        .photo {
          width: 100%;
        }
      }
      .moo-photobooth-ppl-cont_center {
        height: 450px;
        width: 1190px;
        gap: var(--moo-size-5xl);
        padding: var(--moo-size-4xl);
      
        .photo {
          width: 25%
        }
      }
      .moo-photobooth-ppl-cont_1pic_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 450px;
        width: 900px;
        gap: 15px;
        padding: 0;
    
        .photo {
          width: 100%;
        }
    
      }
      .moo-photobooth-ppl-cont-horizontal_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 1190px;
        gap: var(--moo-size-5xl);
        padding: var(--moo-size-4xl);
    
      .photo {
        width: 30%;
      }
    }
      .moo-photobooth-ppl-cont-4pic_center {
        height: 400px;
        width: 1190px;
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-xxl);
        display: flex;
        align-items: center;
        justify-content: center;
      
        .photo {
          width: 20%;
        }
      }
      .moo-photobooth-ppl-cont-big_center {
        height: 680px;
        width: 1190px;
        padding: var(--moo-size-4xl);
        gap: var(--moo-size-5xl);
        display: flex;
        align-items: center;
        justify-content: center;
        .photo {
          width: 45%;
        }
      }
      .socials {
        width: 900px;
        padding: 0;
        flex-direction: row;
        padding: var(--moo-size-xl);
        img {
          width: 70px;
        }
        p {
          font-size: var(--moo-size-m);
          margin: 0;
        }
        a {
          padding: 0;
          height: 113px;
          width: 290px;
          justify-content: center;
          align-items: center;
        }
      }
      .moo-sub-socials {
        font-size: var(--moo-size-m);
        padding: var(--moo-size-3xs) var(--moo-size-3xl);
      }
      .qr-code-tg {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: var(--moo-size-l);
        img {
            width: 300px;
        }
      }
      .moo-contacts {
        .moo-title-section {
          font-size: var(--moo-size-6xl);
          width: 900px;
          padding: 0;
          text-align: center;
        }
      }
 
}
@include media-breakpoint-up(xxl) {
    .main,
    header {
      padding: var(--moo-size-4xl) var(--moo-size-7xl);
      .moo-title.logo {
        font-size: var(--moo-size-l);
      }
    }
    .bamboo-main_deck {
      margin: var(--moo-size-8xl);
      top: 35vh;
      img {
        width: 16vw;
      }
    }
    .bamboo-hello {
      font-size: inherit;
    }
    .gallery-title {
        margin: 0 var(--moo-size-l);
        p {
            font-size: var(--moo-size-8xl);
        }
    }
    .about-me {
        padding: 30px;
        img {
            width: 340px;
            height: 485px;
            
        }
        .img-ab-me {
          img {
              display: block;
          }
      }
      }
    .moo-about-me-title {
        font-size: 80px;
        width: 1100px;
        height: 400px;
        padding: var(--moo-size-3xl);
        display: flex;
    }
    .moo-about-me-sub {
        font-size: var(--moo-size-xxl);
        width: 450px;
        padding: var(--moo-size-3xl);
        .moo-page {
            font-size: var(--moo-size-5xl);
            justify-content: end;
        }
        p {
            text-align:left; 
        }
    }
    .moo-shoot {
        font-size: var(--moo-size-xxl);
        height: 115px;
        padding-bottom: var(--moo-size-3xl);
        .shooting {
            width: auto;
        span {
            padding: var(--moo-size-3xl);
        }
    }
    }
    .moo-btn-to-scrl {
      gap: var(--moo-size-5xl);
      border-top: 1px solid silver;
      border-bottom: 1px solid silver;
    }
    .moo-overlay-image {
      border-radius: 0;
      overflow: visible;      
      .moo-caption {
        font-size: var(--moo-size-xl);
      }
      .moo-overlay-image_content {
          display: flex;
          flex-direction: column;
          justify-content: end;
      }
      img {
        width: 350px;
        height: 550px;
        object-fit: cover;
      }
    }
    .bamboo-gallery {
      display: flex;
      flex-direction: column;
    }
    .moo-page {
      p {
        font-size: var(--moo-size-7xl);
        
      }
    }
    .moo-title-section {
      font-size: var(--moo-size-7xl);
      gap: var(--moo-size-3xl);
      padding: var(--moo-size-4xl);
      align-items: center;
      text-align: center;
    
      .moo-text-yellow {
        display: block;
      }
    }
    .moo-sub-section {
      p {
      font-size: var(--moo-size-xxl);
      }
    }
    .moo-photobooth-ppl-cont {
      gap: var(--moo-size-3xl);
      width: 1300px;
      height: 1600px;
      margin: 0;
      .moo-photobooth-ppl-cont_left {
        height: 1600px;
        width: 900px;
        .photo {
        width: 100%;
        }
      }
      .moo-photobooth-ppl-cont_right {
        height: 1600px;
        width: 300px;
        gap: var(--moo-size-5xl);
      }
      .photo {
        width: 100%;
      }
    }
    .moo-photobooth-ppl-cont_1pic_center {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 700px;
        width: 1300px;
        gap: 15px;
        padding: 0;
    
        .photo {
          width: 92%;
        }
    
      }
    .moo-photobooth-ppl-cont_center {
      height: 570px;
      width: 1300px;
      gap: var(--moo-size-5xl);
      padding: var(--moo-size-3xl);
      margin: 20px;
    
    
      .photo {
        width: 27%;
      }
    }
    .moo-photobooth-ppl-cont-horizontal_center {
        display: flex;
        align-items: center;
        justify-content: center;
      height: 300px;
      width: 1350px;
      gap: var(--moo-size-5xl);
      padding: var(--moo-size-4xl);
    
      .photo {
        width: 29%;
      }
    }
    .moo-photobooth-ppl-cont-4pic_center {
      height: auto;
      width: 1350px;
      gap: var(--moo-size-5xl);
      padding: var(--moo-size-3xl);
      display: flex;
      align-items: center;
      justify-content: center;

      .photo {
        width: 23%;
      }
    }
    .moo-photobooth-ppl-cont-big_center {
      height: 850px;
      width: auto;
      padding: var(--moo-size-4xl);
      gap: var(--moo-size-5xl);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px;
      .photo {
        width: 43%;
      }
    }
    .moo-sub-section {
      font-size: var(--moo-size-3xl);
      display: flex;
      align-items: center;
      padding: var(--moo-size-3xl);
      width: 1000px;
    }
    .moo-contacts {
      .moo-title-section {
        font-size: var(--moo-size-7xl);
        width: 1100px;
        gap: var(--moo-size-3xl);
        padding: var(--moo-size-4xl);
        padding-top: 0;
      }
    }
    .socials {
      width: 1100px;
      padding: 0;
      flex-direction: row;
      padding: var(--moo-size-3xl);
      img {
        width: 90px;
      }
      p {
        font-size: var(--moo-size-m);
        margin: 0;
        width:50px ;
      }
      a {
        padding: 0;
        height: 100px;
        justify-content: flex-start;
      }
    }
    .moo-sub-socials {
      font-size: var(--moo-size-l);
      padding: var(--moo-size-3xs) var(--moo-size-3xl);
    }
    .qr-code-tg {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--moo-size-l);
    }
    .logo {
    text-align: start;
    }
    .bamboo-main_deck {
    top: auto;
    }
}
