@use "sass:map";

@import "./variables.scss";

:root {
  $prefix: "moo";

  @each $name, $size in $sizes {
    --#{$prefix}-size-#{$name}: #{$size};
  }
  @each $name, $color in $colors {
    --#{$prefix}-clr-#{$name}: #{$color};
  }
}

html {
  body {
    background-color: var(--moo-clr-black);
    color: var(--moo-clr-white);
    font-family: "Monserat", sans-serif;
  }
  a {
    color: var(--moo-clr-white);
    text-decoration: none;
  }
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
path {
  transition: 0.2s ease;
}

img {
  transition: 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Michroma", sans-serif;
}

header {
  z-index: 5;
}
.product,
.people,
.street {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navbar-toggler {
  padding: var(--moo-size-xs);
  justify-self: start;
  svg {
    width: var(--moo-size-3xl);
    height: var(--moo-size-3xl);
    path {
      stroke: var(--moo-clr-white);
      stroke-width: 2;
      stroke-linecap: round;
    }
  }

  &:hover {
    svg path {
      stroke: var(--moo-clr-blue);
    }
  }
}

.moo {
  &-title {
    font-family: "Michroma", sans-serif;
    font-size: var(--moo-size-xxl);
    line-height: var(--moo-size-xxl);
    text-transform: uppercase;
  }
  &-subtitle {
    font-family: "Montserrat", sans-serif;
    font-size: var(--moo-size-5xl);

    &.smaller {
      font-size: var(--moo-size-3xl);
    }
  }
  &-sub-socials {
    font-family: "Michroma", sans-serif;
    font-size: var(--moo-size-l);
    line-height: var(--moo-size-l);
    text-transform: uppercase;
    color: var(--moo-clr-black);
  }
  &-caption {
    font-family: "Montserrat", sans-serif;
    font-size: smaller;
  }
  &-menu {
    ul {
      display: flex;
      gap: var(--moo-size-4xl);
      margin-bottom: 0;
    }
    ul li {
      list-style: none;
      display: inherit;
    }

    a {
      vertical-align: middle;
      &:hover {
        color: var(--moo-clr-blue);
      }
    }
  }
  &-btn-to-scrl {
    font-family: "Michroma", sans-serif;
    font-size: var(--moo-size-xxl);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--moo-size-5xl);
    padding: 50px 0 50px 0;
    margin-top: 50px;
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;

    .text-light {
      color: var(--moo-clr-white);
    }
  }

  &-line-gallery {
    width: var(--moo-size-3xl);
    & > div {
      height: 4em;
      & > span {
        transform: rotate(90deg);
        display: block;
      }
    }
  }
  &-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Michroma", sans-serif;
    font-size: var(--moo-size-8xl);
    padding: var(--moo-size-xxl);
  }

  &-overlay-image {
    position: relative;

    &_content {
      display: flex;
      flex-direction: column;
      justify-content: end;
      padding: var(--moo-size-l);
      position: absolute;
      top: 0;
      background-color: var(--moo-clr-black50);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: 0.2s ease;
    }

    &:hover &_content {
      opacity: 1;
    }
  }
  &-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    font-size: var(--moo-size-7xl);
    gap: var(--moo-size-5xl);
    padding: var(--moo-size-4xl);
  }
  &-sub-section {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 32px;
    display: flex;
    flex: none;
    text-align: center;
  }

  &-text {
    @each $name, $color in $colors {
      &-#{$name} {
        color: $color;
      }
    }
  }
  &-title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Michroma", sans-serif;
    font-size: var(--moo-size-9xl);
    gap: var(--moo-size-3xl);
    padding: var(--moo-size-4xl);
  }
  &-sub-section {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: var(--moo-size-3xl);
  }
  // //   &-container-flex {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     // margin: 50px;
  //   }
  &-photobooth-ppl-cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--moo-size-5xl);
    // width: 1750px;

    &_left {
      display: inherit;

      grid-template-columns: repeat(3, 1fr);
      img {
        //   width: 30%;
        &:nth-child(4n) {
          grid-column: 1 / 4;
        }
      }

      position: relative;
      grid-gap: inherit;
    }

    &_right {
      display: inherit;
      grid-template-columns: 1fr;
    }

    &_center {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--moo-size-4xl);
      gap: var(--moo-size-5xl);
    }
  }
  &-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.socials {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: none;
  width: 1200px;
}

.bamboo {
  $font-size: 6vw;

  &-main {
    display: flex;
    position: relative;
    font-size: $font-size;
    justify-content: center;
    flex: 1 1 auto;
    align-items: center;

    &::after,
    &::before {
      position: absolute;
      content: attr(data-colon) attr(data-colon);
      font-size: inherit !important;
      font-family: "Michroma", sans-serif;
      line-height: 182px;
      z-index: 5;
    }

    &::before {
      top: 0;
      left: 0;
    }
    &::after {
      right: 0;
      bottom: calc($font-size/2 * -1);
    }

    &_deck {
      position: absolute;
      text-align: center;
      animation: deck 1s ease 0.2s 1;
      top: 0;

      img {
        position: relative;
        width: 18vw;

        $image-rotation-step: 10deg;
        $rotation-multipliers: 1 -1, 2 0, 3 1;
        $z-indexes: (
          1: 3,
          2: 2,
          3: 1,
        );

        @each $index, $multiplier in $rotation-multipliers {
          &:nth-child(#{$index}) {
            rotate: calc($image-rotation-step * $multiplier);
            z-index: map.get($z-indexes, $index);

            @if ($index == 2) {
              scale: 0.8;
              margin: 0 -10% 0 -10%;
            }
          }
        }

        &:hover {
          scale: 1.1;
        }

        &.deck-hidden {
          scale: 0;
        }
      }
    }

    &_description {
      position: relative;
      z-index: 5;
      margin-bottom: var(--moo-size-5xl);
    }
  }

  &-hello {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: inherit;
    font-weight: 400;
    flex-shrink: 1;
    z-index: 5;
    animation: poptop 1s ease 0.2s 1 forwards;
    pointer-events: none;
    text-transform: uppercase;
    // line-height: 100px;

    @each $line in 1, 2, 3 {
      span:nth-child(#{$line}) {
        padding-left: calc(10vw * ($line - 1));
      }
    }
  }

  section,
  &-section {
    min-height: 100vh;
    position: relative;

    &.about-section {
      height: 100vh;
      max-height: 100vh;
    }
  }

  &-about {
    position: relative;
    // top: 0;
    left: -190px;
    margin-left: -100%;
    font-size: var(--moo-size-8xl);
    margin-top: var(--moo-size-7xl);
    color: var(--moo-clr-white);
    backdrop-filter: opacity(0);
    z-index: 3;

    &.title-overflow {
      color: var(--moo-clr-orange);
    }

    &_side-image {
      height: 100%;
      position: relative;
      // z-index: 2;
    }
  }

  &-gallery {
    background: var(--moo-clr-black);
  }
}
